{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h3>Enter new password</h3>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">New Password:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"  name="new_password1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Confirm Password:</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" name="new_password2">
                    </div>
                    <button type="submit" class="btn btn-primary">Change My Password</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}