{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row g-3 m-3 justify-content-around">

            {% for book in books %}

                <div class="col-md-4">

                        <div class="card p-3">
                            
                            <div class="card-body">
                                <a class="nav-link" href="{% url 'book-detail' book.id %}"><div class="card-title"><strong>{{book.title}}</strong></div></a>
                            </div>
                            <div class="card-text">
                                <div class="card-author">{{book.author}}</div>
                                <div class="card-date">{{book.published_date}}</div>
                            </div>

                        </div>     
                </div>

            {% endfor %}
        </div>

        <div class="row g-3 m-3 justify-content-around">
            <div class="col-md-4">
                <div>
                    <a href="{% url 'book-add' %}"><button class="btn btn-primary">Add a Book</button></a>
                </div>
                
                <!--{# <div>
                    <form action="{% url 'books-list' %}" method="post">
                        <button>Delete All Books</button>
                    </form>
                </div> #}-->
            </div>
        </div>

    </div>

{% endblock %}