{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row g-3 m-3 justify-content-around">
            <div class="col-md-4">
                <form action="{% url 'book-add' %}" method="post">
                    {% csrf_token %}

                        <div class="mb-3">
                            <label for="bookTitle" class="form-label">Book Title</label>
                            <input type="text" class="form-control" id="bookTitle"  name="title">
                        </div>
                        <div class="mb-3">
                            <label for="bookAuthor" class="form-label">Book Author</label>
                            <select class="form-select" id="bookAuthor" name="author">
                                <option value="J.K Rowling" selected>J.K Rowling</option>
                                <option value="Agatha Christie">Agatha Christie</option>
                                <option value="Paulo Coelho">Paulo Coelho</option>
                                <option value="George R.R. Martin">George R.R. Martin</option>
                                <option value="Mark Twain">Mark Twain</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="bookPublishedDate" class="form-label">Book Published Date</label>
                            <input type="text" class="form-control" id="bookPublishedDate" name="published_date">
                        </div>
                        <div class="mb-3">
                            <label for="bookPrice" class="form-label">Book Price</label>
                            <input type="text" class="form-control" id="bookPrice" name="price">
                        </div>
                        <div class="mb-3">
                            <label for="bookStock" class="form-label">Book Stock</label>
                            <input type="text" class="form-control" id="bookStock" name="stock">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Create Book</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}